header{
    background: var(--peach-dark);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--peach);


    nav a{
        margin: 0 1rem;
        text-decoration: none;
        color: var(--text-dark);
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        transition: background 0.3s ease;

        &.active,
        &.hovr{
            background: var(--cream);
        }
    }
}