header{
    background: var(--peach-dark);
    box-shadow:  0 4px 15px;
    border-bottom: 5px solid var(--peach);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    nav a{
        margin: 0 1rem;
        text-decoration: none;
        color: var(--text-dark);
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        transition: background 0.3s ease;
    }

    nav a:hover {
        background: var(--peach);
        text-shadow: 0 0 10px #f1a470;
        border-radius: 20px;
        transform: translateY(-2px);
    }

    nav li {
        position: relative;
        margin: 0;
        padding: 10px;
    }
}