<section class="welcome-wrapper">
    <div class="intro-text">
        <h1>Welcome, welcome! I'm Alberte, aka Alfie, and this is my humble portfolio.</h1>
        <p>This little project introduces you to who I am, what I do, and what sparks my curiosity. 
            You'll get a glimpse into what I'm currently working on. 
            This site will evolve as I do, so expect updates throughout the development process.</p>

        <div class="cta-group" style="display: flex; flex-direction: column; gap: 1.5rem;"> <!--FIX-->
            <a routerLink="/projects" class="cta-btn">Introducing Me</a>
            <a routerLink="/projects" class="cta-btn">See My Work!</a>
            <a routerLink="/projects" class="cta-btn">Creativity and Design</a>
        </div>
    </div>
</section> 
