<div class="welcome-wrapper">
    <div class="background-overlay"></div>


    <div class="content-container">
        <h1>Welcome, welcome! I'm Alberte, aka Alfie, and this is my humble portfolio.</h1>
        <p>This little project introduces you to who I am, what I do, and what sparks my curiosity. 
            You can also get a glimpse into what I'm currently working on. 
            This site will evolve with me, so expect updates throughout the development process (updates throughout the development process can be expected).</p>
    </div>

    <app-nav-bar></app-nav-bar>
</div> 
