@import "tailwindcss";

:root {
  --bg1: #4c010e; /*normal colour = #f5eee6*/
  --bg2: #b6cee8;
  --header-red: #2E0004;
  --text-red: #41000B;
  --navbar-theme: #fbf7ba;
  --header-yellow: #fbf7ba;
  --text-main: #fbf7ba;
}

[data-theme='dark'] {
  --bg1: #4c010e;
  --bg2: #1a0004;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(var(--bg1), var(--bg2));
  color: var(--text); /* TEXT COLOUR */
}

section{
  padding: 4rem 2rem;
}

@utility font-joan {
  font-family: var(--font-joan), serif;
}

/*Main Text*/
@utility font-fira-code{
    font-family: var(--font-fira), monospace;
  }
/*Flair Header Text*/
@utility font-molen{
    font-family: var(--font-molen) ;
  }
/*Name Text 1*/
@utility font-frunchy{
  font-family: var(--font-frunchy) ;
}
/*Name Text 2 Last Name*/
@utility font-hali{
  font-family: var(--font-hali);
}
  

  /*_____________________________Front page Name_____________________________*/
