:host {
    display: block;
    margin: 15px 20px;
}

/* Theme of navigation  bar? */
.topNavBar{
    position:  fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    margin-top: 1;
    background: linear-gradient(to bttom right, #8ba6f0 #9855b8);
    box-shadow: 0 4px 15px #2b4fb1;
    border-bottom:  2px solid #7a2c9e;
    border-radius: 35px;
    font-family: 'Cinzel', serif, 'Times New Roman', Times, serif;
}

.topNavBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.topNavBar li{
    position: relative;
    margin: 0;
    padding: 10px;
}

.topNavBar a{
    display: block;
    color: #feffd3;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1.2rem 1.8rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #a0b6f5;
    text-transform: uppercase;
}

.topNavBar a:hover{
    color: #feffd3;
    text-shadow: #eff0ab;
    background: #ffcc80b3;
    border-radius: 20px;
    transform: translateY(-2px); /*Movement of botton when hover*/
}

.topNavBar a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.topNavBar a:hover::after{
    width: 80%;
}

/* Active link style*/
.topNavBar a.active{
    color: #ffcc80;
    background: #a87c324d;
    text-shadow: 0 0 15px #ffcc80cc;
}

/* Responsive design */
@media(max-width: 760px) {
    .topNavBar ul{
        flex-direction: column;
        align-items: center;
    }    
}

.topNavBar a{
    padding: 1rem 1.5rem;
    width: 100%;
    text-align: center;
}