<nav class="topNavBar">
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a routerLink="/introduction" routerLinkActive="active">Introduction</a>
        </li>
        <li>
            <a routerLink="/creativity" routerLinkActive="active">Creativity</a>
        </li>
        <li>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
    </ul>
</nav>
