/* You can add global styles to this file, and also import other style files */
.topNavBar{
    background: linear-gradient(to bttom right, #8ba6f0 #9855b8);
    box-shadow: 0 4px 15px #2b4fb1;
    border-bottom:  2px solid #7a2c9e;
    padding: 0;
    border-radius: 35px;
    font-family: 'Cinzel', serif, 'Times New Roman', Times, serif;
}