
<div class="creativity-wrapper">
        <div class="background-overlay"></div>

        <div class="content-container">
                <h1> Here you see can see the different creative projects 
                that I've done in the past, or that I am currently working on.</h1>
                <p> This will be everything from nail design, tattoos, 
                designs for dust jackets for books, water colour, and more.      
                </p>
        </div>
        <app-nav-bar></app-nav-bar>

</div>